<FilesMatch "\.sql$">
    Require all denied
</FilesMatch>


RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^news/([0-9]+)/([^/]+)/?$ news.php?id=$1&titel=$2 [L,QSA]
